body {
    min-height: 100vh;
    margin: 0px;
    display: flex; 
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    box-sizing: border-box;
}

.main,
.footer { 
    /* for temporary visualizing */
    /* border: solid black 2px; */
    
    flex: 1 1 auto;
    width: 100vw;
    box-sizing: border-box;
}
/* .main div { */
    /* for temporary visualizing */
    /* border: 1px solid black; */
/* } */

.footer {
    max-height: 5vh;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

/* sketch options container*/
.sketchOptionsContainer {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.leftButton {
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tiny5", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    border: 3px solid black;

}

/* sketch board container */
.sketchBoardContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sketchBoard {
    box-sizing: border-box;
    border: solid black 5px;
    height: 47vw;
    width: 47vw;
    background-color: white;
    display:flex;
    flex-direction: column;

}

/* misc options container */
.miscOptionsContainer {
    width: 30vw;
}